:root {
  --primary-title-color: #ffffff;
  --primary-pink-color: #f1cdb3;
  --light-grey-color: #cdcdcd;

  --darck-grey-color: #4c4c4c;
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia Regular"), url("../fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  src: local("Georgia Italic"), url("../fonts/georgiai.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: local("Georgia Bold"), url("../fonts/georgiab.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 700;
  src: local("Georgia Bold Italic"),
    url("../fonts/georgiaz.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial Regular"), url("../fonts/arial.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: local("Arial Italic"), url("../fonts/arialai.woff") format("woff");
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--light-grey-color)
  background-color: #262425;
}
a {
  text-decoration: none;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1280px;
  margin: 0 auto;

  width: 100%;
}
.title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  color: var(--primary-title-color);
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------header---------------*/
/* ----------------header---------------*/
/* ----------------header---------------*/

.header {
  background-color: transparent;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: var(--primary-pink-color);
  display: flex;
  flex-direction: column;

  width: 184px;
  height: 90px;
}
.header__logo h1 {
  margin-top: 35px;
  color: var(--primary-pink-color);
  font-size: 34px;
  letter-spacing: 6%;
  line-height: 0;
  font-weight: 400;
}
.header__logo p {
  font-family: Arial, sans-serif;
  color: var(--primary-title-color);
  font-size: 13px;
  letter-spacing: 1.3px;
}
.navigation {
  display: flex;
  align-items: center;
}
.header__navigation a {
  font-family: Arial, sans-serif;
  color: var(--light-grey-color);
  font-size: 15px;
  line-height: 1.6;

  display: block;
}

.navigation__list {
  display: flex;
  justify-content: end;
}
.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 35px;
}
.navigation__link::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary-pink-color);
  width: 100%;
  bottom: -5px;
  left: 0;
  display: none;
}
.navigation__link::after:hover {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary-pink-color);
  width: 100%;
  bottom: -5px;
  left: 0;
  display: block;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/

.notonly {
  background: url(../img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  height: 100vh;
}

.notonly__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}

.notonly__row {
}
.notonly__title {
  font-size: 44px;
  line-height: 1.3;
  color: var(--primary-title-color);
  max-width: 310px;
  font-weight: 400;
  margin-bottom: 42px;
}
.notonly__subtitle {
  color: var(--light-grey-color);
  max-width: 460px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 42px;
}
.notonly__btn {
}
.btn {
  background-color: var(--primary-pink-color);
  cursor: pointer;
  padding: 15px, 45px;
}
.notonly__img {
  max-width: 698px;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/
.footer {
  background-color: aqua;
}
