:root {
  --primary-title-color: #ffffff;
  --darck-white-color: #f6f6f6;

  --primary-pink-color: #f1cdb3;
  --light-grey-color: #cdcdcd;
  --darck-black-color: #292929;
  --medium-black-color: #545454;
  --darck-grey-color: #4c4c4c;
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  src: local("Georgia Regular"), url("../fonts/georgia.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 400;
  src: local("Georgia Italic"), url("../fonts/georgiai.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 700;
  src: local("Georgia Bold"), url("../fonts/georgiab.woff") format("woff");
}

@font-face {
  font-family: "Georgia";
  font-style: italic;
  font-weight: 700;
  src: local("Georgia Bold Italic"),
    url("../fonts/georgiaz.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  src: local("Arial Regular"), url("../fonts/arial.woff") format("woff");
}
@font-face {
  font-family: "Arial";
  font-style: italic;
  font-weight: 400;
  src: local("Arial Italic"), url("../fonts/arialai.woff") format("woff");
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
img {
  max-width: 100%;
  height: auto;
}
body {
  font-family: "Georgia";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 1.6;
  color: var(--light-grey-color);
  background-color: #ffffff;
}
a {
  text-decoration: none;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
.wrapper {
  overflow: clip;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
.main {
  flex: 1 1 auto;
}
.container {
  max-width: 1280px;
  margin: 0 auto;

  width: 100%;
}
.title {
  font-family: "Georgia";
  font-weight: 400;
  font-size: 44px;
  line-height: 1.3;
  color: var(--primary-title-color);
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------header---------------*/
/* ----------------header---------------*/
/* ----------------header---------------*/

.header {
  background-color: transparent;
}
.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  color: var(--primary-pink-color);
  display: flex;
  flex-direction: column;

  width: 184px;
  height: 90px;
}
.header__logo h1 {
  margin-top: 30px;
  color: var(--primary-pink-color);
  font-size: 34px;
  letter-spacing: 6%;

  font-weight: 400;
}
.header__logo p {
  font-family: Arial, sans-serif;
  color: var(--primary-title-color);
  font-size: 13px;
  letter-spacing: 1.3px;
}
.navigation {
  display: flex;
  align-items: center;
}
.header__navigation a {
  font-family: Arial, sans-serif;
  color: var(--light-grey-color);
  font-size: 15px;
  line-height: 1.6;

  display: block;
}

.navigation__list {
  display: flex;
  justify-content: end;
}
.navigation__item {
  position: relative;
}
.navigation__item:not(:last-child) {
  margin-right: 35px;
}
.navigation__link::after {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary-pink-color);
  width: 100%;
  bottom: -5px;
  left: 0;
  display: none;
}
.navigation__link::after:hover {
  content: "";
  position: absolute;
  height: 3px;
  background-color: var(--primary-pink-color);
  width: 100%;
  bottom: -5px;
  left: 0;
  display: block;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/

.notonly {
}
.wrapper__first {
  background: url(../img/noise_transparent@2x.png),
    radial-gradient(100% 215.42% at 0% 0%, #5b483a 0%, #262425 100%);
  height: 820px;
}
.notonly__container {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
}
.notonly__row {
}
.notonly__title {
  margin-top: 165px;
  font-size: 44px;
  line-height: 1.3;
  color: var(--primary-title-color);
  max-width: 310px;
  font-weight: 400;
  margin-bottom: 42px;
}
.notonly__subtitle {
  color: var(--light-grey-color);
  max-width: 460px;
  font-family: Arial, sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  margin-bottom: 42px;
}
.notonly__btn {
}
.btn {
  background-color: var(--primary-pink-color);
  cursor: pointer;
  padding: 15px 45px;
  border-radius: 100px;
  color: var(--darck-black-color);
  font-size: 17px;
  font-weight: 400;
  line-height: 1.3;
}
.notonly__img {
  max-width: 671px;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------about----------------*/
/* ----------------about----------------*/
/* ----------------about----------------*/
.about {
}
.about__container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  margin-bottom: 100px;
}
.about__img {
}
.about__wrapper {
  max-width: 430px;
  margin-left: 120px;
}

.about__title {
  max-width: 350px;
  margin-bottom: 25px;
  margin-top: 10px;
  color: var(--medium-black-color);
  font-size: 35px;
  line-height: 1.3;
  text-align: left;
}

.about__content {
  color: var(--darck-grey-color);
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 25px;
}

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------ourfriends-----------*/
/* ----------------ourfriends-----------*/
/* ----------------ourfriends-----------*/
.ourfriends {
  background-color: var(--darck-white-color);
}
.ourfriends__container {
  padding-top: 80px;
  margin-bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.about__title {
  max-width: 400px;
  text-align: center;
  padding-bottom: 60px;
  color: var(--medium-black-color);
  font-size: 35px;
  line-height: 1.3;
}

.ourfriends__wrapper {
  margin-bottom: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ourfriends__list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.ourfriends__item {
}
.ourfriends__card {
}
.card {
  display: block;
  max-width: 270px;
  background-color: #fafafa;
  margin-right: 30px;
  margin-left: 30px;
  height: 435px;
  border-radius: 9px;
}

.card__top {
  margin-bottom: 30px;
}
.card__image {
}
.card__bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.card__title {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 6%;
  color: var(--medium-black-color);
  margin-bottom: 30px;
}
.card__add {
  font-size: 17px;
  line-height: 22px;
  letter-spacing: 6%;
  color: var(--darck-black-color);
  padding: 15px 45px;
  border-radius: 100px;
  border: #f1cdb3 solid 2px;
  background-color: transparent;
}
.ourfriends__btn {
}
.ourfriends__arrow {
  height: 52px;
  width: 52px;
  border-radius: 100px;
  border: #f1cdb3 solid 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/

/*--------------------------------------*/
/*--------------------------------------*/
/*--------------------------------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/
/* ----------------notonly--------------*/
.footer {
  background-color: aqua;
}
